<div id="productsContainer">
    <h1>Thank You<br>
     You have just placed an order</h1>
</div>


<table id="customers">
    <tr>
        
        <td>Your order reference is <%= @orders.id %></td>
      
    </tr>
</table>

<table id="customers">
        <% @total = 0 %>
        <% @orderprods.each do |id,quantity| %>
        <% product = Orderprod.find_by_id(id) %>

            <tr>
            <td><%= product.name %></td>
            <td><%= product.quantity %></td>
            <td><%=number_to_currency(product.price, :unit => "€")%></td>
            <td><%= number_to_currency(product.quantity * product.price, :unit => "€") %></td>
            </tr>
       
        <% sum = (product.quantity * product.price)%>
        <% @total += sum %>
        <% end %>
            <tr>
              <td>Total: &euro; <%= @total %></td>
            </tr>
        <% shipping = 30 %>
        <% @overall = shipping + @total%>
            <tr>
             <td>Shipping &euro; 30.0</td>
            </tr>
            <tr>
             <td>Order Total &euro; <%= @overall %></td>
            </tr>

</table> 


<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="sorina.alexandrescu5@gmail.com">
    <input type="hidden" name="product_name" value="Naturelo App Order Number <%= @orderNum %>">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    <input type="hidden" name="return" value="https://ncirl.ie" >
</form> 


