<div id="productsContainer">
    <h1>Thank You</h1>
   
     <p>You have just placed an order</p>
</div>


<table id="customers">
    <tr>
        
    <% @orders.limit(1).order(id: :desc).each do |order| %>
    <td>Order reference for the order you just placed <%= order.id %></td>
    <% end %>
</tr>
</table>
<table id="customers">
<% @total = 0 %>
<% @orderprods.each do |id,quantity| %>
<tr>
<% product = Orderproduct.find_by_id(id) %>
<td><%= product.Name %></td>
<td><%= product.quantity %></td>
<td><%=number_to_currency(product.Price, :unit => "€")%></td>
<td><%= number_to_currency(product.quantity * product.Price, :unit => "€") %></td>
</tr>
<% timx = (product.quantity * product.Price)%>
<% @total += timx %>
</tr>
<% end %>
<tr>
<td>Order Total: &euro; <%= @total %></td>
</tr>
</table>
    
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="sorina.alexandrescu5@gmail.com">
    <input type="hidden" name="product_name" value="Naturelo App Order Number <%= @orderNum %>">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    <input type="hidden" name="return" value="https://ncirl.ie" >
</form> 
