<% if @cart.empty? %>
<p>The cart is empty</p>
<% end %>


<div id="productsContainer">
    <table id="customers">
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %> 
        
         <% product = Product.find_by_id(id) %>
         
         <tr>
             <td>
                 <div class="image">
           
                 <%= link_to (image_tag product.Image, :style =>"height:40px"), product %>
                 </div>
             </td>
             
             <td class="title">
                 <%= link_to product.Name, product %>
             </td>
          
          
            <td class="price">
               <%= number_to_currency(product.Price, :unit =>"€") %>  
            </td>
            
            <td class="quantity"><%= quantity %></td>
            
            <td ="price"><%= number_to_currency(quantity * product.Price, :unit =>"€") %></td>
             
         </tr>
         
             <% total += quantity * product.Price %> 
                 
        <% end %>
        
        <tr>
            
           Total: <%= number_to_currency(total, :unit =>"€") %> 
        </tr>
    </table>
    
    <a href="/products" class="button">Continue Shopping</a>
    <a href="/cart/clear" class="button">Clear Cart</a>
    <a href="/checkout/" class="button">Checkout</a>

    
</div>