<p id="notice"><%= notice %></p>
<div id="productsContainer">
 <table id="customers">
 <% total = 0 %>
 <% @cart.each do |id, quantity| %>

 <% product = Product.find_by_id(id) %>

 <tr>
 <td>
 <div class="image">
 <%= link_to (image_tag product.Image, :style =>"height:40px"), product %>
 </div>

 </td>

 <td class="name"><%= link_to product.Name, product %></td>
 
 <td class="price"><%= number_to_currency(product.Price, :unit =>"€") %></td>
 <td class="quantity"><%= quantity %></td>
 <td class="price"><%= number_to_currency(quantity * product.Price, :unit =>"€") %></td>

 </tr>

 <% total += quantity * product.Price %>

 <% end %>

 <tr>
 Grang Total: <%= number_to_currency(total, :unit => "€") %>
 </tr>

 </table>

 <p>
 <a href="/products" class="button">Continue Shopping</a>
 <a href="/cart/clear" class="button">Empty Cart</a>
 <a href="/cart/remove/:id" class="button">Remove From Cart</a>
 </p>
 
    <% if @cart.empty? %>
    <h1> Your cart is empty</h1>
    <%end%>

 </div>