<div id="productsContainer">
<p id="notice"><%= notice %></p>
    <h1>Order Details</h1>
    <table id="customers">
      <tr>
        <td>Order date:</td>
        <td>Ordered By</td>
        <td>Order date:</td>
      </tr>

      <tr>
        <td><%= @order.order_date %></td>
        <td><%= @order.user %></td>
        <td><%= @order.status %></td>
      </tr>

      <tr>
        <td><%= link_to 'Edit', edit_order_path(@order), :class =>"button" %></td>
        <td><%= link_to 'Back', orders_path, :class =>"button" %></td>
      </tr>
    </table>

<h2>Order Products</h2>
    <table id="customers">
    <% @orderprods.each do |orderprod| %>
      <tr>
        <td><%= orderprod.created_at %></td>
        <td><%= orderprod.title %></td>
        <td><%= orderprod.order_id %></td>
      </tr>
    <% end %>
  </table>

 </div>

<%= link_to 'New Order', new_order_path %>