<p id="notice"><%= notice %></p>

<div id="productsContainer">
 <h1><%= @product.Name%></h1>
 <%= image_tag @product.Image, :class => 'welcomIm' %>
 <h2><%= @product.Description %></h1>

 <div class="producthols">
 <p>Price <%= number_to_currency(@product.Price, :unit => "€") %></p>

 <p>
 <%= link_to 'Back', products_path, :class => "button", :role => "button" %>
 <%= link_to 'Edit', edit_product_path(@product), :class => "button", :role => "button" %>

 </p>

 </div>

 </div>