 <header class="headSec">

      <h1>NATURELO</h1>

      <ul id="headb"> 
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Products", products_path %></li>

        <% if user_signed_in? %>
        <li><a href="#">Hi <%= current_user.email %></a></li>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to 'Register',new_user_registration_path %></li> 
        <li><%= link_to 'Sign in',new_user_session_path %></li>
        <% end %>

        <li><%= link_to "Cart", cart_path %></li>
        <li><%= link_to "View Orders", orders_path %></li>

        <% if session[:login] == 1 %>
        <li><%= link_to "Admin Logout", logout_path %></li>
        <% else %>
        <li><%= link_to "Admin Login", login_path %></li>
        <% end %>

      </ul>
</header>


     